body{
    background: #eee;
}
.wrapper {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

/* nav mobile*/

nav ul {
    background: #333;
    list-style-type: none;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 10px;
    text-align: center;
 
}

nav a:hover{
    background-color: #555;
}

/*nav in big screen */

@media  screen and (min-width:768px) {
    nav ul {
        display: flex;
    }

    nav li {
       flex: 1 1 0;
    }
}

