body {
    background: #eee;
}

.wrapper{
    background: #fff;
    margin: 0 auto;
    padding:2%
}

.service{
    padding: 1%;
    margin:1%;
    width:29.33%;
    height: 140px;
    float: left;
    height:140px;
   background:#eee;
   text-align: center;
}

.services:after{
    clear:both;
    content:"";
    display:block;
}

.content{
    padding:10px;
    clear: left;
    margin: 10px 1%;
    line-height: 1.5;
}

section, aside {
    width: 46%;
    float: left;
    margin: 1%;
    padding: 1%;
    background:#f2f2f2;
}

.columns:after{
    clear:both;
    content:"";
    display:block
}