*{
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#eee;
}

.wrapper{
    margin: 0 auto;
    max-width: 960px;
    width:100%;
}

.flex-box{
    background:#fff;
    display:flex;
}


.box {
    height: 100px;
    min-width: 100px;
    float: left;
}

.one{
    background: red;
}

.two{
    background: yellow;
}

.three{
    background: blue;
}

